<ion-pane>
  <ion-nav-bar>
    <ion-nav-buttons side="primary">
      <button class="button" ng-click="goHome()">
        Button One
      </button>
      <button class="button" ng-click="getPeople()">
        Button Two
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Falkon CleanTech Solutions</h1>
  </ion-header-bar>

  <ion-nav-view></ion-nav-view>

  <ion-footer-bar>
    <div class="buttons">
      <button class="button" >Test Footer Button</button>
    </div>
  </ion-footer-bar>
</ion-pane>


